
body {
    text-align: center;

}

#container {
    margin: 100px;
}

#title {
    color: #FFBF8A;
    font-size: 55px;
}

#signInButton,
#createAccountButton,
#createTripButton,
#enterCodeButton {
    background-color: #FFBF8A;
    color: white;
    width: 200px;
}

#newTripButton,
#existingTripButton {
    background-color: #FFBF8A;
    color: white;
    width: 300px;
}